div::before {
    content: 'Эй, я слышал,\Aчто вы любите псевдоэлементы\A';
    white-space: pre-wrap;
    font-size: 1.2em;
  }
  div::after {
    display: flex;
    justify-content: center;
    content: 'так что я вставил псевдоэлемент в ваш псевдоэлемент\Aчтобы вы могли оформлять его через псевдоэлемент';
    white-space: pre-wrap;
    background: #f0f0f0;
    padding: .5em;
  }
  div::first-line {
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  div {
    text-align: center;
    margin: auto;
    width: 80%;
    border: 2px dashed #ddd;
    font: 20px/1.5 sans-serif; 
  }
  div:hover::before, div:hover::after {
    display: block;
  }